.main {
  top: 0;
  margin: auto;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.2rem;
}

.logo-click {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.hamburger-icon {
  display: none;
}

@media (max-width: 1100px) {
  .main {
    width: calc(100vw - 6rem);
  }
}

@media (max-width: 700px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hamburger-icon {
    display: block;
  }

  .nav-list {
    position: fixed;
    top: 4rem;
    padding-top: 5rem;
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    float: none;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2rem);
    left: -100%;
    transition: all .5s;
    background-color: white;
    height: calc(100vh - 5rem);
  }

  .show-list {
    left: 0 !important;
  }
}